body {
    margin: 0;/* отступы снаружи */
    padding: 0;/* отступы внутри */
    font-family: "ComfortaaLight", sans-serif;/* выбор шрифта */
    font-size: 15px;/* размер шрифта */
    line-height: 1.6;/* расстояние между строками */
    
}

*,
*:before,
*:after {
    box-sizing: border-box;/* настройка width, height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* настройка всех тэгов р */
p {
    margin: 0;
    padding: 0;
    left: 0;/* отступ слева */
    top: 0;/* отступ справа */
    line-height: 30px;/* абзацы */
    text-align: justify;  /* выравнивание текста по ширине */
}

/* настройка контейнера */
.container {
    max-width: 1440px;
    width: 100%;/* ширина блока */
    margin: 0 auto;
    font-family: 'ComfortaaLight', sans-serif;
} 


/* ХЭДЭР */

.performancepage_header_inner {
  background-image: url("../img/actorsPage/header/header_img_lol.jpg");
  background-position: center;/* размещение фона */
  background-size: cover;/* размещение фона */
  background-size: no-repeat;/* размещение фона */
  /* background-position-y: -100px; */
  height: 500px;
  /* padding: 20px; */
} 
  
  
  
  .logo_img {
    /* margin: 30px; */
    padding: 0;
  }
  
  .logo_img img {
    border-radius: 30px; /* скругление краев */
  }
  
  .logo_img img:hover {
    box-shadow: 0px 0px 15px 1px white;/* тень */
    transition: 0.1s;/* плавный переход */
  }
  
  .nav_menu {
    display: flex;/* тип размещения блоков */
    justify-content: space-between;/* ориентация блоков */
    text-align: center;
    padding-top: 20px;
    
    
  }
  
  .nav_header {
    position: relative; /* смена типа позиционирования блока */
    vertical-align: middle;/* выравнивание по вертикали */
    height: 100%;
    width: auto;
    display: inline-block;
    
  }
  
  .navbar_menu { 
    display: flex;
    position: relative;

    width: 100%;
    vertical-align: middle;
    height: 100%;
    
  }
  
  .nav_menu li {
    float: left;/* ориентация контента слева */
    height: 100%;
    box-sizing: border-box;/* корректировка размера блока */
    list-style-type:  none;/* убиирает маркеры */
    
  }
  
  .nav_header .navbar_menu .nav-item a {
    text-decoration: none;/* уубирает подчеркивание */
    padding: 20px;
    font-size: 25px;
    color: white;
    font-family: "ComfortaaLight", sans-serif;
  }
  
  .nav_header .navbar_menu .nav-item a:hover {
    color: rgb(128, 128, 128);
  }
  
  
  
  .info {
    font-size: 20px;
    margin-top: 100px;
    vertical-align: middle;
    color: white;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  

  .header_title {
    margin-top: 70px;
    text-align: center;
    font-size: 80px;
    color: white;
  }

  .header_text {
    margin-top: 20px;
    color: white;

  }


/* СВЕДЕНИЯ ОБ АКТЕРЕ */

.main_inner {
    /* background-color: white; */
    /* background-image: url('img/bg2.jpg'); */
    background-color: #f7f7f7;
    background-size:cover;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  
  .main_info {
    margin: 50px 0px;
  }
  
  .main_info .container {
    padding: 0px 100px;
  }
  
  .actor_img {
    object-fit: cover;
    max-width: 300px;
    height: 400px;
  }

.spec_inner {
    margin-bottom: 40px;
}

.actor_spec {
    /* margin-top: 20px; */
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 600;
}
  
  .info_text .col {
    padding: 50px;
  }



/* ФУТЕР*/

.footer_inner {
    background-color: black;
    color: white;
    border-top: 2px solid white;
    font-size: 20px;
    padding-bottom: 30px;
    vertical-align: middle;
    font-family: "ComfortaaLight";
  }
  
  .footer_inner .container .row .col{
    vertical-align: middle;
    max-width: 500px;
  }
  
  .footer_inner .container {
    /* margin-top: 100px; */
    padding-top: 15px;
  }
  
  .footer_laber {
    font-size: 25px;
  }
  
  .schedule_title, .contacts_title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .footer_schedule, .footer_contacts {
    font-size: 15px;
    max-width: 600px;
  }
  
  .footer_schedule p {
    margin: 3px;
    
  }
  
  .footer_contacts p {
    margin: 3px;
  }
  
  
  
  .contacts_text  {
    font-size: 17px;
  }
  
    /* .social_media {
      padding: 5px;
    } */
  
  .col .media {
    width: 30px;
    height: 50px;
    margin-top: 20px;
  }
  
  .media_label {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .footer_map {
    position: relative;
    top: -45px;
    
    width: 300px;
    height: 300px;
  }
  
  .map {
    margin-left: auto;
    margin-right: auto;
  }
  