/* настройка шрифтов */
@font-face {
    font-family: "RalewayLight"; /* название шрифта */
    src: url("fonts/Raleway-Light.ttf") format("truetype");  /* путь к файлу со шрифтом */
    font-style: normal; /* стиль щрифта */
    font-weight: normal; /* толщина шрифта */
    }

@font-face {
    font-family: "ComfortaaLight"; 
    src: url("fonts/Comfortaa-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

body {
    margin: 0;/* отступы снаружи */
    padding: 0;/* отступы внутри */
    font-family: "ComfortaaLight", sans-serif; /* выбор шрифта */
    font-size: 15px;/* размер шрифта */
    line-height: 1.6;/* расстояние между буквами */
    
}

*,
*:before,
*:after {
    box-sizing: border-box;/* настройка width, height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* настройка всех тэгов р */
p {
    margin: 0;
    padding: 0;
    left: 0;/* отступ слева */
    top: 0;/* отступ справа */
    line-height: 30px;
    text-align: justify;/* выравнивание текста по ширине */
}

/* настройка контейнера */
.container {
    max-width: 1440px;
    width: 100%;/* ширина блока */
    margin: 0 auto;
    font-family: 'ComfortaaLight', sans-serif;
} 


/* ХЭДЭР */


  
  .logo_img {
    /* margin: 30px; */
    padding: 0;
  }
  
  .logo_img img {
    border-radius: 30px;/* скругление краев */
  }
  
  .logo_img img:hover {
    box-shadow: 0px 0px 15px 1px white;
    transition: 0.1s;
  }
  
  .nav_menu {
    display: flex;/* тип размещения блоков */
    justify-content: space-between;/* ориентация блоков */
    text-align: center;
    padding-top: 20px;
    
    
  }
  
  .nav_header {
    position: relative; /* смена типа позиционирования блока */
    vertical-align: middle; /* выравнивание по вертикали */
    height: 100%;
    width: auto;
    display: inline-block;
    
  }
  
  .navbar_menu { 
    display: flex;
    position: relative;

    width: 100%;
    vertical-align: middle;
    height: 100%;
    
  }
  
  .nav_menu li {
    float: left;/* ориентация контента слева */
    height: 100%;
    box-sizing: border-box;/* корректировка размера блока */
    list-style-type:  none;/* убиирает маркеры */
    
  }
  
  .nav_header .navbar_menu .nav-item a {
    text-decoration: none;/* уубирает подчеркивание */
    padding: 20px;
    font-size: 25px;
    color: white;
    font-family: "ComfortaaLight", sans-serif;
  }
  
  .nav_header .navbar_menu .nav-item a:hover {
    color: rgb(128, 128, 128);
  }
  
  .info {
    font-size: 20px;
    margin-top: 100px;
    vertical-align: middle;
    color: white;
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;/* размещение в одну строку или в несколько */
  }
  

  .perf_name {
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
    color: white;
  }


/* ОПИСАНИЕ СПЕКТАКЛЯ  */

.info_inner {
    background-color: rgb(23, 22, 22);
    color: #f7f7f7;
    /* background-image: url('img/bg.jpg'); */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 30px;
}


.info_title, .photos_title{
margin: 20px;
font-family: "ComfortaaLight";
font-size: 40px;
text-align: Center;
color: #f7f7f7;
}

.photos_inner {
    background-color: white;
    /* background-image: url('img/bg.jpg'); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
  }

.photos_title{
    margin: 20px;
    font-family: "ComfortaaLight";
    font-size: 40px;
    text-align: Center;
    color: #0a0a0a;
    }

.photo {
    margin: 20px;
    /* width: 40%; */
    max-height: 400px;
    object-fit:cover;
    overflow: hidden;


}


/* АКТЕРЫ ИЗ СПЕКТАКЛЯ  */

/* .actors_inner {
  background-color: rgb(253, 253, 253);
  background-image: url('img/bg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 50px 0px;
}

.actors_title {
  margin-bottom: 20px;
  font-family: "ComfortaaLight";
  font-size: 40px;
  text-align: Center;
  color: black;

} */

/* .actor {
  height: 220px;
  width: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.actor_img {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 120px;
  height: 160px;
  justify-content: center;
}

.actor_name {
  margin-top: 10px;
  text-align: center;
  font-family: "ComfortaaLight";
  font-size: 15px;
  color: rgb(71, 71, 71);
} */

/* ФУТЕР */

.footer_inner {
  background-color: black;
  color: white;
  border-top: 2px solid white;
  font-size: 20px;
  padding-bottom: 30px;
  vertical-align: middle;
  font-family: "ComfortaaLight";
}

.footer_inner .container .row .col{
  vertical-align: middle;
  max-width: 500px;
}

.footer_inner .container {
  /* margin-top: 100px; */
  padding-top: 15px;
}

.footer_laber {
  font-size: 25px;
}

.schedule_title, .contacts_title {
  font-size: 20px;
  font-weight: 500;
}

.footer_schedule, .footer_contacts {
  font-size: 15px;
  max-width: 600px;
}

.footer_schedule p {
  margin: 3px;
  
}

.footer_contacts p {
  margin: 3px;
}


.contacts_text  {
  font-size: 17px;
}

  /* .social_media {
    padding: 5px;
  } */

.col .media {
  width: 30px;
  height: 50px;
  margin-top: 20px;
}

.media_label {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.footer_map {
  position: relative;
  top: -45px;
  
  width: 300px;
  height: 300px;
}

.map {
  margin-left: auto;
  margin-right: auto;
}